<%- include("templates/header") %>
<h5 class="text-center mt-3">4 Results for "secret"</h5>
<% for (let job of fakeJobs) { %>
<div class="container mt-3">
  <div class="card mb-3 shadow-sm">
    <div class="card-body">
      <div class="row">
        <h6 class="col"><%= job.JobTitle %></h6>
      </div>
      <p class="mb-0">
        <i class="fas fa-building fa-sm"></i>
        <small><%= job.CompanyName %></small>
      </p>
      <p class="mb-0">
        <i class="fa fa-map-marker-alt fa-sm"></i>
        <small><%= job.Location %></small>
      </p>
      <div class="row">
        <p class="mb-0 py-0">
          <span class="badge text-bg-light"><%= job.JobType %></span>
        </p>
        <p class="mb-0 py-0">
          <span class="badge text-bg-light"><%= job.SalaryEstimate %></span>
        </p>
      </div>
      <p class="mb-2"><small><%= job.Summary %></small></p>
      <button
        type="button"
        class="btn btn-light btn-outline-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#JobDescription-<%= job._id %>"
      >
        Read more
      </button>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="JobDescription-<%= job._id %>"
    tabindex="-1"
    aria-labelledby="JobDescriptionLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= job.JobTitle %></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p><%= job.JobDescription %></p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %> <%- include("templates/footer") %>
