<%- include("templates/header") %>
<div class="container-fluid h-custom container-reset">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <!-- logo -->
    <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mt-3">
      <img src="../image/TechommendLogo.png" class="img-fluid" alt="logo" />
    </div>
    <% if (locals.errorMessage) { %>
    <!-- error messages -->
    <div class="alert alert-danger" role="alert">
      <%= locals.errorMessage %> <% if (locals.signupLink) { %>
      <a href="<%= locals.signupLink %>">Sign up</a>
      <% } %>
    </div>
    <% } else if (locals.token) { %>
    <!-- enter new password form -->
    <form action="/resetPassword/<%= locals.token %>" method="POST">
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="passwordInput"
          name="newPassword"
          placeholder="Enter a new password"
          required
        />
        <label for="passwordInput">Enter a new password</label>
      </div>
      <button
        type="submit"
        class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-3 mx-auto"
        id="reset-password-submit-btn"
      >
        Reset Password
      </button>
    </form>
    <% } else if (locals.emailSent) { %>
    <!-- email link sent message -->
    <div class="alert alert-primary" role="alert"><%= locals.emailSent %></div>
    <% } else { %>
    <!-- reset password request form -->
    <div class="container d-flex justify-content-center">
      <form action="/resetPassword" method="POST">
        <div class="form-floating mb-1" style="width: 100%">
          <p id="reset-text">
            Enter your email and we'll send you instructions on how to reset
            your password.
          </p>
          <div class="form-floating mb-3">
            <input
              type="email"
              name="recipient"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-3 mx-auto"
          id="reset-password-submit-btn"
        >
          Send Instruction
        </button>
      </form>
    </div>
    <% } %>
  </div>
</div>

<%- include("templates/footer") %>
