<%- include("templates/header") %> <%- include("templates/nav") %>
<div class="container reset-form">
  <h4 class="card-title text-center">Reset Password</h4>
  <div class="card-text">
    <% if (locals.errorMessage) { %>
    <!-- error messagse  -->
    <div class="alert alert-danger" role="alert">
      <%= locals.errorMessage %> <% if (locals.signupLink) { %>
      <a href="<%= locals.signupLink %>">Sign up</a>
      <% } %>
    </div>
    <% } else if (locals.token) { %>
    <!-- enter new password form  -->
    <form action="/resetPassword/<%= locals.token %>" method="POST">
      <div class="form-group">
        <label for="passwordInput">Enter a new password:</label>
        <input
          type="password"
          class="form-control"
          id="passwordInput"
          name="newPassword"
          placeholder="Enter a new password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Reset Password
      </button>
    </form>

    <% } else if (locals.emailSent) { %>
    <!-- email link sent message  -->
    <div class="alert alert-primary" role="alert"><%= locals.emailSent %></div>
    <% } else { %>
    <!-- reset password request form  -->
    <div class="container d-flex justify-content-center">
      <form action="/resetPassword" method="POST" style="width: 100%">
        <div class="form-group">
          <label for="emailInput"
            >Enter your email and we'll send you instructions on how to reset
            your password.</label
          >
          <input
            type="email"
            class="form-control"
            id="emailInput"
            name="recipient"
            placeholder="Email Address"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Send Instruction
        </button>
      </form>
    </div>
    <% } %>
  </div>
</div>

<%- include("templates/footer") %>
