<!-- Includes the header template located at 'templates/header' -->
<%- include("templates/header") %>

  <div class="container-fluid h-custom container-reset">

    <!-- A row that is centered both horizontally and vertically, with a height of 100% of its parent -->
    <div class="row d-flex justify-content-center align-items-center h-100">

      <!-- An image element containing the Techommend logo -->
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mt-3">
        <img src="../image/TechommendLogo.png" class="img-fluid" alt="logo" />
      </div>

      <!-- If there's an error message to display -->
      <% if (locals.errorMessage) { %>
        <div class="alert alert-danger" role="alert">
          <%= locals.errorMessage %>
            <% if (locals.signupLink) { %>
              <!-- A link to sign up if there is a signup link -->
              <a href="<%= locals.signupLink %>">Sign up</a>
              <% } %>
        </div>

        <!-- If there is a token, render a form for the user to enter a new password -->
        <% } else if (locals.token) { %>
          <form action="/resetPassword/<%= locals.token %>" method="POST">
            <!-- A floating label input field for the new password -->
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="passwordInput" name="newPassword"
                placeholder="Enter a new password" required />
              <label for="passwordInput">Enter a new password</label>
            </div>
            <!-- Button to submit the form -->
            <button type="submit" class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-3 mx-auto"
              id="reset-password-submit-btn">
              Reset Password
            </button>
          </form>

          <!-- If the email is sent successfully, render a success message -->
          <% } else if (locals.emailSent) { %>
            <div class="alert alert-primary" role="alert">
              <%= locals.emailSent %>
            </div>

            <!-- If none of the above conditions are met, render a form for the user to enter their email to receive reset instructions -->
            <% } else { %>
              <div class="container d-flex justify-content-center">
                <form action="/resetPassword" method="POST">
                  <!-- Instruction for the user -->
                  <div class="form-floating mb-1" style="width: 100%">
                    <p id="reset-text">
                      Enter your email and we'll send you instructions on how to reset
                      your password.
                    </p>
                    <!-- A floating label input field for the user's email -->
                    <div class="form-floating mb-3">
                      <input type="email" name="recipient" class="form-control" id="floatingInput"
                        placeholder="name@example.com" />
                      <label for="floatingInput">Email address</label>
                    </div>
                  </div>
                  <!-- Button to submit the form -->
                  <button type="submit" class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-3 mx-auto"
                    id="reset-password-submit-btn">
                    Send Instruction
                  </button>
                </form>
              </div>
              <% } %>

    </div>
  </div>

  <!-- Includes the footer template located at 'templates/footer' -->
  <%- include("templates/footer") %>