<%- include("templates/header") %>

<div style="text-align: center">
  <h1>Saved Listings</h1>
</div>
<div class="container" id="saved-listing">
  <% listings.forEach((listing) => { %>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><%= listing.JobTitle %></h5>
    </div>
    <div class="card-body">
      <div class="card-body">
        <p class="card-text">
          <i class="fas fa-building"></i> <%= listing.CompanyName %>
        </p>
        <p class="card-text">
          <i class="fas fa-map-marker-alt"></i> Location: <%= listing.Location
          %>
        </p>
        <!-- <p class="card-text">
          <i class="fas fa-star"></i> Rating: <%= listing.Rating %>
        </p> -->
        <p class="card-text"><%= listing.SalaryEstimate %></p>
        <p class="card-text"><%= listing.Summary %></p>
      </div>
    </div>
    <% }) %>
  </div>

  <%- include("templates/footer") %>
</div>
