<%- include("templates/header") %>

<div style="text-align: center">
  <h3>Saved Listings</h3>
</div>
<div class="container" id="saved-listing">
  <% listings.forEach((listing) => { if
  (user.bookmarks.includes(listing._id.toString())) { %>
  <div class="card mb-3" id="card-<%= listing._id %>">
    <div class="card-body">
      <div class="row">
        <h6 class="col"><%= listing.JobTitle %></h6>
        <div class="col-2">
          <form method="POST" action="/savedListings">
            <button
              type="submit"
              name="save-btn"
              value="<%= listing._id %>"
              class="btn btn-light btn-outline-primary btn-sm active"
              onclick="unbookmarkListing('<%= listing._id %>');"
            >
              <i class="fa fa-bookmark"></i>
            </button>
          </form>
        </div>
      </div>
      <p class="mb-0">
        <i class="fas fa-building fa-sm"></i>
        <small><%= listing.CompanyName %></small>
      </p>
      <p class="mb-0">
        <i class="fa fa-map-marker-alt fa-sm"></i>
        <small><%= listing.Location %></small>
      </p>
      <div class="row d-flex flex-row">
        <% if (listing.JobType !== "None Given") { %>
        <p class="mb-0 py-0">
          <span class="badge text-bg-light"><%= listing.JobType %></span>
        </p>
        <% } %> <% if (listing.SalaryEstimate !== "None Given") { %>
        <p class="mb-0 py-0">
          <span class="badge text-bg-light"><%= listing.SalaryEstimate %></span>
        </p>
        <% } %>
      </div>

      <p class="mb-2"><small><%= listing.Summary %></small></p>

      <a
        href="<%= listing.Link %>"
        class="btn btn-light btn-outline-primary btn-sm"
        >Read more</a
      >
    </div>
  </div>

  <% } }) %>
</div>

<script>
  function unbookmarkListing(listingId) {
    $("#card-" + listingId).remove();
    $.post("/savedListings", { "save-btn": listingId });
  }
</script>

<%- include("templates/footer") %>
