<!-- Includes the header and navigation templates located at 'templates/header' and 'templates/nav' -->
<%- include("templates/header") %>
  <%- include("templates/nav") %>

    <!-- A header for the page -->
    <div style="text-align: center">
      <h4 class="heading">Saved Listings</h4>
    </div>

    <!-- A container for the saved listings -->
    <div class="container" id="saved-listing">

      <!-- Loop through each listing -->
      <% listings.forEach((listing)=> {
        // Check if the current listing's id is included in the user's bookmarks
        if (user.bookmarks.includes(listing._id.toString())) { %>
        <!-- Each listing is rendered as a card -->
        <div class="card mb-3 px-2" id="card-<%= listing._id %>">
          <div class="card-body shadow-sm">
            <!-- Display the job title and an active bookmark button -->
            <div class="row">
              <h6 class="col">
                <%= listing.JobTitle %>
              </h6>
              <div class="col-2">
                <form method="POST" action="/savedListings">
                  <!-- Bookmark button, clicking it triggers the 'showDeleteConfirmation' function with the listing id -->
                  <button type="button" name="save-btn" value="<%= listing._id %>"
                    class="btn btn-light btn-outline-primary rounded-pill btn-sm active"
                    onclick="showDeleteConfirmation('<%= listing._id %>');">
                    <i class="fa fa-bookmark"></i>
                  </button>
                </form>
              </div>
            </div>
      <!-- Display company name, location, job type (if given), salary estimate (if given), job summary and a link to read more -->
      <p class="mb-0">
        <i class="fas fa-building fa-sm"></i>
        <small> <%= listing.CompanyName %> </small>
      </p>
      <p class="mb-0">
        <i class="fa fa-map-marker-alt fa-sm"></i>
        <small> <%= listing.Location %> </small>
      </p>
      <div class="row d-flex flex-row">
        <% if (listing.JobType !=="None Given" ) { %>
        <p class="mb-0 py-0">
          <span class="badge text-bg-light"> <%= listing.JobType %> </span>
        </p>
        <% } %> <% if (listing.SalaryEstimate !=="None Given" ) { %>
        <p class="mb-0 py-0">
          <span class="badge text-bg-light">
            <%= listing.SalaryEstimate %>
          </span>
        </p>
        <% } %>
      </div>
      <p class="mb-2"><small> <%= listing.Summary %> </small></p>
      <a
        href="<%= listing.Link %>"
        class="btn btn-light btn-outline-primary btn-sm rounded-pill"
        >Read more</a
      >
    </div>
  </div>
  <% } }) %>
</div>
<div
  class="modal fade"
  id="confirm-delete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirm-delete-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered rounded-4" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete-label">Confirm Delete</h5>
        <button
          type="button"
          class="close btn btn-light"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "<span class="title"></span>"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded-pill" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn rounded-pill btn-ok">Delete</button>
      </div>
    </div>
  </div>
</div>
<script>
  // Remove a listing from the page and send a POST request to "/savedListings" to update the backend
  function unbookmarkListing(listingId) {
    $("#card-" + listingId).remove();
    $.post("/savedListings", { "save-btn": listingId });
  }

  // When the OK button in the modal is clicked, unbookmark the listing and hide the modal
  function showDeleteConfirmation(listingId) {
    var listingTitle = $("#card-" + listingId + " h6").text();
    $(".title", "#confirm-delete").text(listingTitle);
    $(".btn-ok", "#confirm-delete").data("recordId", listingId);
    $("#confirm-delete").modal("show");
  }

  // When the close button in the modal is clicked, hide the modal
  $(".btn-ok").click(function () {
    var listingId = $(this).data("recordId");
    unbookmarkListing(listingId);
    $("#confirm-delete").modal("hide");
  });

  $('[data-dismiss="modal"]').click(function () {
    $("#confirm-delete").modal("hide");
  });
</script>
<!-- Includes the footer template located at 'templates/footer' -->
<%- include("templates/footer") %>
