<!-- <tr>
<td><%= listing.JobTitle %></td>

<td><%= listing.SalaryEstimate %></td>

<td><%= listing.JobDescription %></td>

<td><%= listing.Rating %></td>

<td><%= listing.CompanyName %></td>

<td><%= listing.Location %></td>

<td><%= listing.Headquarters %></td>
</tr> -->

<div class="job-listing">
  <h3><%= listing.JobTitle %></h3>
  <p><%= listing.CompanyName %></p>
  <p><%= listing.Location %></p>
  <p>Rating:<%= listing.Rating %></p>
</div>